md-content .workspace-create-factory
  overflow auto
  min-height calc(100vh - 152px)
  background-color $white-color !important
  padding 0 14px
  .che-label-container-label
    min-width 160px
    width 160px

  .che-input-box
    padding 25px
    border-bottom 1px solid $list-separator-color

    div.che-label-container-label, div.che-input-box-desktop-label
      min-width 160px
      width 160px

  button
    margin-left 0
    margin-right 0
    margin-bottom 16px

  .che-label-container-content .create-factory-input
    margin -6px 0

che-button-save-flat#share-workspace-as-factory-button button
  margin 10px 0 100px
  width 100% !important

md-progress-linear.create-factory-progress
  z-index 1
  height 10px
  position absolute

